<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>

    <link rel="stylesheet" href="{{ asset('css/style.css') }}">

    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
<div class="wrapper">
    <div class="block header">
        {% block header %}
            {% if app.user %}

            {% else %}

            {% endif %}
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <a href="{{ logout_path() }}">Выйти</a>
            {% endif %}
        {% endblock %}
    </div>

    <div class="block body">
        {% block body %}{% endblock %}
    </div>
</div>
{% block javascripts %}{% endblock %}
</body>
</html>