{% extends 'library/structure.html.twig' %}

{% block title %} {{ title }} {% endblock %}


{% block body %}
    <div class="book-list">
        {% for book in books %}
            <div class="book-list-row">
                <div class="book-list-row-cover"></div>
                <div class="book-list-row-name"></div>
                <div class="book-list-row-author"></div>

                {%  if book.ALLOW_DOWNLOADING %}
                    <div class="book-list-row-download"></div>
                {% endif %}

                {% if isAuthorized %}
                    <div class="book-list-row-edit"><a href="/book/edit/{{ book.ID }}"></a></div>
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% endblock %}