{% extends 'library/base.html.twig' %}

{% block body %}
    <div class="book-list">
        {% for book in books %}
            <div class="book-list-row">
                <div class="book-list-row-cover">{{ book.NAME }}</div>
                <div class="book-list-row-name">{{ book.AUTHOR }}</div>
                <div class="book-list-row-author">{{ book.COVER }}</div>

                {%  if book.ALLOW_DOWNLOADING %}
                    <div class="book-list-row-download"><a href="">Скачать</a></div>
                {% endif %}
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <div class="book-list-row-edit"><a href="{{ path('editBook', {"bookId": book.ID}) }}">Редактировать</a></div>
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% endblock %}