//Created by style on 27.03.18
@import "fonts.styl"


*
  font-family: "Roboto"


.wrapper
  margin 20px auto
  width 900px

  .block
    border 1px solid #999
    border-radius 5px
    margin-bottom 10px
    padding 10px

    &.header
      height 50px
      padding 0
      display flex

      .header-title
        color #555
        font-weight: bold
        font-size: 20px
        flex-grow 1
        justify-content start !important

        text-decoration: none

        &:hover
          color: #000

      .header-subblock
        height: 100%
        display flex
        justify-content center
        align-items center
        padding-left: 10px
        padding-right: 10px

      .button
        color #555
        text-decoration: none

        &:hover
          color: #000


    &.body
      min-height 300px

.form-error
  font-size 12px
  color #ab0815







.book-list-row
  display flex

  border-bottom: 1px solid #888888

  padding-top 10px
  padding-bottom: 10px

  margin-bottom: 5px
  margin-top: 5px

  align-items center

  .book-list-row-cover img
    width: 100px

  .book-list-row-name
    padding-left: 10px
    width: 350px

  .book-list-row-author
    flex-grow 1

  .book-list-row-button_block
    width: 150px






.book-upload-preview-image
  margin-top: 10px
  border: 1px solid #828282
  width: 70px
  height: 70px

  img
    max-width: 70px
    max-height: 70px