@font-face {
  font-family: "Roboto";
  src: local(Roboto Regular), url("/fonts/roboto/Roboto-Regular.eot");
  src: url("/fonts/roboto/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("/fonts/roboto/Roboto-Regular.woff2") format("woff2"), url("/fonts/roboto/Roboto-Regular.woff") format("woff"), url("/fonts/roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Roboto";
  src: url("/fonts/roboto/Roboto-Bold.eot");
  src: url("/fonts/roboto/Roboto-Bold.eot?#iefix") format("embedded-opentype"), url("/fonts/roboto/Roboto-Bold.woff2") format("woff2"), url("/fonts/roboto/Roboto-Bold.woff") format("woff"), url("/fonts/roboto/Roboto-Bold.ttf") format("truetype");
  font-weight: 700;
}
* {
  font-family: "Roboto";
}
.wrapper {
  margin: 20px auto;
  width: 900px;
}
.wrapper .block {
  border: 1px solid #999;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 10px;
}
.wrapper .block.header {
  height: 50px;
  padding: 0;
  display: flex;
}
.wrapper .block.header .header-title {
  color: #555;
  font-weight: bold;
  font-size: 20px;
  flex-grow: 1;
  justify-content: start !important;
  text-decoration: none;
}
.wrapper .block.header .header-title:hover {
  color: #000;
}
.wrapper .block.header .header-subblock {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}
.wrapper .block.header .button {
  color: #555;
  text-decoration: none;
}
.wrapper .block.header .button:hover {
  color: #000;
}
.wrapper .block.block-alert {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
}
.wrapper .block.block-alert.block-alert-success {
  background-color: #d4ffc3;
}
.wrapper .block.block-alert.block-alert-error {
  background-color: #ffc1c1;
}
.wrapper .block.body {
  min-height: 300px;
}
.form-error {
  font-size: 12px;
  color: #ab0815;
}
.book-list-row {
  display: flex;
  border-bottom: 1px solid #888;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 5px;
  margin-top: 5px;
  align-items: center;
}
.book-list-row .book-list-row-cover img {
  width: 100px;
}
.book-list-row .book-list-row-name {
  padding-left: 10px;
  width: 350px;
}
.book-list-row .book-list-row-author {
  flex-grow: 1;
}
.book-list-row .book-list-row-button_block {
  width: 150px;
}
.book-upload-preview-image {
  margin-top: 10px;
  margin-bottom: 5px;
  border: 1px solid #828282;
  max-width: 70px;
  max-height: 70px;
  display: flex;
  justify-content: center;
}
.book-upload-preview-image img {
  max-width: 70px;
  max-height: 70px;
}
.book-upload-preview-file {
  margin-top: 10px;
  margin-bottom: 5px;
  padding: 5px;
  border: 1px solid #828282;
  display: inline-block;
}
