.wrapper {
  margin: 20px auto;
  width: 900px;
}
.wrapper .block {
  border: 1px solid #999;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 10px;
}
.wrapper .block.header {
  height: 50px;
  padding: 0;
}
.wrapper .block.body {
  min-height: 300px;
}
.form-error {
  font-size: 12px;
  color: #ab0815;
}
